<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users`</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Login</th>
        <th>Roles</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${_users}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.name}">First Name</td>
        <td th:text="${user.lastName}">Last Name</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.emailAddress}">E-mail</td>
        <td th:text="${user.login}">Login</td>
        <td th:text="${user.roles}">Roles</td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a>
            <a th:href="@{/admin}" th:method="DELETE" th:action="@{/admin}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<br>

<a href="admin/new">CREATE NEW USER</a>

</body>
</html>