<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <label for="name"> Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="lastName"> Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <br>
    <label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <br>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{emailAddress}" id="email">
    <br>
    <br>
    <label for="login" >Enter login: </label>
    <input type="text" th:field="*{login}" id="login">
    <br>
    <br>
    <label for="password" >Enter password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br>
    <br>
    <th:block th:each="role: ${roleList}">
        <label for="role"> Enter role(s):
            <input type="checkbox"  th:field="*{roles}" id="role"
                   th:value="${role.id}"
                   th:text="${role.id}"/>
        </label>
    </th:block>
    <br>
    <br/>
    <input type="submit" value="SAVE"/>
</form>
</body>
</html>