<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${_user.getId()})}" th:object="${_user}">
    <label for="name"> Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="lastName"> Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <br>
    <label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <br>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{emailAddress}" id="email">
    <br>
    <br>
    <label for="role"> Enter role(s): </label>
    <input type="text" th:field="*{roles}" id="role">
    <br>
    <br/>
    <input type="submit" value="UPDATE"/>
</form>
</body>
</html>