<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${'Id: ' + _user.getId()}">Value</p>
<p th:text="${'Name: ' + _user.getName()}">Value</p>
<p th:text="${'Last Name: ' + _user.getLastName()}">Value</p>
<p th:text="${'Age: ' + _user.getAge()}">Value</p>
<p th:text="${'Email: ' + _user.getEmailAddress()}">Value</p>
<p th:text="${'Role: ' + _user.getAuthorities()}">Value</p>

<a th:href="@{/users/{id}/edit(id=${_user.getId()})}">EDIT</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${_user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>