<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
<!--header-->
<nav class="navbar bg-dark">
    <span class="text-white ">
            <p class="font-weight-bold d-inline-block my-sm-1 " th:text="${_user.getLogin()}">
                Authorized User Email
            </p>
            <p class="list-inline-item my-sm-1">
                with role(s):
                <li class="bd-highlight list-inline-item my-sm-1"
                    th:each="role:${_user.getRoles()}"
                    th:text="${role.getName().substring(5)}">
                    Authorized User List Roles
                </li>
            </p>
    </span>
    <ul class="nav justify-content-end bg-dark">
        <li class="nav-item ">
            <a class="nav-link" href="/logout"><span class="font-weight-normal text-white">Logout</span></a>
        </li>
    </ul>
</nav>
<br>

<div class="container-fluid bg-light h-100">
    <div class="row h-100">
        <div class="col-sm-2 bg-white h-100">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="#user" data-toggle="tab">User</a>
            </nav>
        </div>

        <div class="col-sm-10 bg-light h-100">
            <h1>User information-page</h1><br>
            <div class="tab-content" style="border: 1px solid lightgray">
                <div class="tab-pane fade show active" id="user">
                    <h4 class="p-3">About User</h4>
                    <div class="container-fluid p-4" style="background-color: #ffffff">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>User ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>E-mail</th>
                                <th>Login</th>
                                <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${_user.id}"></td>
                                    <td th:text="${_user.name}"></td>
                                    <td th:text="${_user.lastName}"></td>
                                    <td th:text="${_user.age}"></td>
                                    <td th:text="${_user.emailAddress}"></td>
                                    <td th:text="${_user.login}"></td>
                                    <td class="d-inline-flex" th:each="role:${_user.roles}"
                                        th:text="${role.getName().substring(5)}"></td>
                                    <td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>